<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body>

<header th:replace="fragments/header"/>
<main>
    <div class="container">
        <h2 class="text-center text-dark bg-light rounded-circle mt-5">All companies</h2>
        <hr style="width: 50%"/>
        <div class='row mb-4 d-flex justify-content-around'>

            <div class="col-md-4 d-flex flex-column bg-text mb-3 rounded-circle" th:each="company : ${companies}">
                <h2 th:text="|Company: ${company.name}|"/>
                <h4 th:text="|Town: ${company.town}|"/>
                <h4 th:text="|Description: ${#strings.substring(company.description, 0, 5)}|"/>
                <h4><a class="btn-block" th:href="@{/companies/details/{name}(name = ${company.name})}">Detail info</a></h4>
            </div>

        </div>
    </div>
</main>

<footer th:replace="fragments/footer"/>
</body>
</html>